Debug/
Release/
*.o
*.d
*.elf
*.map
*.list
.settings/

secure_link/secure_link_keys.h
secure_link/test/test_host
feather_receiver/*.c
feather_receiver/*.h
secure_link/test/test_fcnt
bootloader/*.elf
bootloader/*.bin
bootloader/*.map
